# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
out/
dist/
build/

# env files
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# prisma (legacy)
prisma/

# vercel
.vercel
